#board-save-clear{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: right;
    /* padding-right: 50px; */
}

#task-name{
    padding-top: 30px;
    font-weight: 450;
    font-size: 32px;
}

#save-board{
    padding-right: 10px;
    margin: 10px;
    padding: 24px 32px;
    background-color: hsl(330, 2%, 34%);
    box-shadow: 0 2px 2px hsla(320, 2%, 34%, 0.178);
    text-decoration: none;
    color: hsl(335, 99%, 95%);;
    font-weight: 450;
    font-size: 12px;
    transition: transform .2s;
    border-radius: 25px;
}

#clear-board{

    padding-right: 10px;
    margin: 10px;
    padding: 24px 32px;
    background-color: hsl(330, 2%, 34%);
    box-shadow: 0 2px 2px hsla(320, 2%, 34%, 0.178);
    text-decoration: none;
    color: hsl(335, 99%, 95%);;
    font-weight: 450;
    font-size: 12px;
    transition: transform .2s;
    border-radius: 25px;
}
#save-board-subtasks{
    padding-right: 10px;
    margin: 10px;
    padding: 24px 32px;
    background-color: hsl(330, 2%, 34%);
    box-shadow: 0 2px 2px hsla(320, 2%, 34%, 0.178);
    text-decoration: none;
    color: hsl(335, 99%, 95%);;
    font-weight: 450;
    font-size: 12px;
    transition: transform .2s;
    border-radius: 25px;
}

.row {
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100vh;
}

[data-draggable="target"]{
	float:left;
	list-style-type:none;
	width: 85%;
	height: 7.5em;
	overflow-y:auto;
	margin:0 0.5em 0.5em 0;
	padding:0.5em;
	border:2px solid #888;
	border-radius:0.2em;
	background:#ddd;
    color:#555;
    height: 100vh;
}

[data-draggable="item"]{
	display:block;
	list-style-type: none;
	margin:0 0 2px 0;
	padding: 0 0;
	border-radius:0.2em;
	line-height:1.3;
}

.c1 {
    background-color: rgba(133, 33, 8, 0.335);
}

.c2 {
    background-color: rgba(212, 223, 58, 0.335);
}
.c3 {
    background-color: rgba(72, 255, 0, 0.335);
}
