#save-board{
    position: absolute;
    top: 200px;
    right: 250px;
}

#clear-board {
    position: absolute;
    top: 200px;
    right: 75px;
}

.row {
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100vh;
}

[data-draggable="target"]{
	float:left;
	list-style-type:none;
	width: 85%;
	height: 7.5em;
	overflow-y:auto;
	margin:0 0.5em 0.5em 0;
	padding:0.5em;
	border:2px solid #888;
	border-radius:0.2em;
	background:#ddd;
    color:#555;
    height: 100vh;
}

[data-draggable="item"]{
	display:block;
	list-style-type: none;
	margin:0 0 2px 0;
	padding: 0 0;
	border-radius:0.2em;
	line-height:1.3;
}

.c1 {
    background-color: rgba(133, 33, 8, 0.335);
}

.c2 {
    background-color: rgba(212, 223, 58, 0.335);
}
.c3 {
    background-color: rgba(72, 255, 0, 0.335);
}
